/* VerticalStepper.css */

.vertical-stepper-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  margin-right: 20%;

  margin:0 auto;
}

.stepper-title {
  color: #7B7A7A;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 0;
}

.stepper-subtitle {
  color: #7B7A7A;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.step-label-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #7B7A7A;
}

.step-content-box {
  margin-left: 50px;
  margin-right: 16px;
  width: 100%;
}

/* Styles for Step 0 */
.step0-text-area {
  width: 600px;
  text-align: left;
  color: white; /* Changing the actual input color */
}

.step0-text-area::placeholder {
  color: grey; /* Changing the hint text color */
}

.step0-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* Styles for Step 1 */
.step1-file-upload {
  width: 600px;
  text-align: left;
}

.step1-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* Styles for Step 2 */
.step2-dropdown {
  width: 600px;
  text-align: left;
}

.step2-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
  .vertical-stepper-container {
    width: 80%; /* Adjusted for tablet screens */
  }

  .step-label-box {
    align-items: flex-start;
  }

  .step-content-box {
    margin-left: 0;
    margin-right: 0;
  }

  /* Styles for Step 0, 1, 2 */
  .step0-text-area,
  .step0-button,
  .step1-file-upload,
  .step1-button,
  .step2-dropdown,
  .step2-button {
    width: 100%;
  }
}

/* Media Query for tablet screens (min-width: 1080px) */
@media only screen and (min-width: 1080px) {
  .vertical-stepper-container {
    width: 80%; /* Adjusted for tablet screens */
    
  }
}
