/* components/Navbar/navbar.css */
body{
  margin: 0;
  padding: 0;
}

.navbar {
   background-color: #111111; 
 
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 0 5%;
}

.logo {
  width: 160px;
  height: auto;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  font-size: 18px;
}

.bars {
  display: none;
  color: #808080;
  font-size: 24px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .navbar {
    width: 80%;

  }
}
@media screen and (max-width: 768px) {
  .navbar {

    width: 100%;

  }
  .bars {
    display: block;
 
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 80px;
    right: 0;    
    width: 70%;
    background-color: #333;
    padding: 10px 20px 10px 10px;
    border-radius: 4px;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-link {
    font-size: 16px;
  }
}
